<div class="card-body p-0">
    <div class="table-responsive" style="min-height: 40vh">
        <div class="d-flex">
            <div class="col-12">
                <div class="col-12">
                    <div class="row" style="margin: 20px 0px;">
                        <div class="col-xl-6" *ngFor="let chartOptions of chartOptionsList;">
                            <div class="card card-box mb-5" >
                                <div class="card-header">
                                    <div class="card-header--title font-size-md font-weight-bold py-2">{{ chartOptions.title.text }}</div>
                                </div>
                                <div class="card-body">
                                    <div id="chart">
                                        <apx-chart
                                            [series]="chartOptions.series"
                                            [chart]="chartOptions.chart"
                                            [xaxis]="chartOptions.xaxis"
                                            [stroke]="chartOptions.stroke"
                                            [dataLabels]="chartOptions.dataLabels"
                                            [yaxis]="chartOptions.yaxis"
                                            [labels]="chartOptions.labels"
                                            [legend]="chartOptions.legend"
                                            [title]="chartOptions.title"
                                            [subtitle]="chartOptions.subtitle"
                                        ></apx-chart>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
