<div class="px-1 py-2">
  <div class="alert alert-warning" id="no-result" *ngIf="badges?.length === 0 && !isLoading">
    <span jhiTranslate="gimnasio-uiApp.badge.home.notFound">No Badges found</span>
    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>
  </div>

  <div class="card card-box p-2 mb-5 mt-4" *ngIf="badges?.length !== 0">
    <div class="table-responsive" style="min-height: 40vh" *ngIf="badges && badges.length > 0" id="entities">
      <table class="table table-bordered table-striped mb-0 table-hover mb-0">
        <thead class="thead-light">
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
            <th scope="col" jhiSortBy="id">
              <div class="d-flex">
                <span jhiTranslate="global.field.id">ID</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="pack">
              <div class="text-center">
                <span jhiTranslate="gimnasio-uiApp.badge.pack">Active pack</span>
              </div>
            </th>

            <th scope="col" jhiSortBy="lastModifiedDate">
              <div class="text-center">
                <span jhiTranslate="gimnasio-uiApp.badge.lastModifiedDate">lastModifiedDate</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>

            <th scope="col" jhiSortBy="status">
              <div class="text-center">
                <span jhiTranslate="gimnasio-uiApp.badge.status">Status</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>
            <th scope="col" jhiSortBy="status">
              <div class="text-center">
                <span jhiTranslate="gimnasio-uiApp.badge.remaining_sessions">Remaining sessions</span>
                <fa-icon class="p-1" icon="sort"></fa-icon>
              </div>
            </th>

            <th scope="col" jhiSortBy="Badge Account" *ngIf="featureDesgination">
              <div class="text-center">
                <span jhiTranslate="gimnasio-uiApp.badge.badge_account">Badge Account</span>
              </div>
            </th>

            <th class="text-center"><span jhiTranslate="entity.action.title"></span></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let badge of badges; index as i; trackBy: trackId" data-cy="entityTable">
            <td class="text-center">
              <a [routerLink]="['/gyms', idgym, 'badges', badge.id, 'view']">{{ formatId(badge.id) }}</a>
            </td>
            <td class="text-center" *ngIf="badge.packName && badge.relBadgePackStatus === 'ACTIVE'"> 
              <span>{{ badge.packName }}</span>
            </td>
            <td class="text-center" *ngIf="!badge.packName || badge.relBadgePackStatus !== 'ACTIVE'">
              <span class="font-weight-bold text-warning" jhiTranslate="gimnasio-uiApp.badge.noPackActive" >No Activated Pack</span>
            </td>
            <td class="text-center">
              {{ badge.lastModifiedDate | date: 'medium' }}
            </td>

            <td class="text-center">
              <span class="badge" [ngClass]="getBadgeClass(badge.status!)" jhiTranslate="{{ 'gimnasio-uiApp.STATUS.' + badge.status }}">
                {{ badge.status }}</span
              >
            </td>
            <td class="text-center" *ngIf="!badge.remainingSessions || badge.relBadgePackStatus !== 'ACTIVE'">
              <span class="font-weight-bold text-warning" jhiTranslate="gimnasio-uiApp.badge.noPackActive" >No Activated Pack</span>
            </td>
            <td class="text-center" *ngIf="badge.remainingSessions && badge.relBadgePackStatus === 'ACTIVE'">
              {{ badge.remainingSessions }}
            </td>

            <td class="text-center" *ngIf="featureDesgination">
              <span
                class="badge"
                [ngClass]="getBadgeAccountClass(badge.extBadgesDesignationStatus!)"
                jhiTranslate="{{ badge.extBadgesDesignationStatus ? 'gimnasio-uiApp.BADGE_ACCOUNT_STATUS.' + badge.extBadgesDesignationStatus: 'gimnasio-uiApp.BADGE_ACCOUNT_STATUS.NOTASSIGNED'}}"
              >
                {{ badge.extBadgesDesignationStatus }}</span
              >
            </td>
            <td class="text-center">
              <div class="btn-group btn-group-sm" dropdown placement="bottom right" container="body">
                <button class="btn btn-sm px-2 py-0 dropdown-toggle no-caret btn-neutral-first" dropdownToggle type="button">
                  <fa-icon class="font-size-lg" [icon]="['fas', 'ellipsis']" ngbTooltip="Actions"></fa-icon>
                </button>
                <div *dropdownMenu class="dropdown-menu dropdown-menu-xl p-0 dropdown-menu-right">
                  <ul class="nav nav-neutral-first nav-pills flex-column pt-2 pb-3">
                    <li class="nav-item nav-item--header px-3">
                      <span class="text-capitalize text-black font-size-md font-weight-bold">
                        <span jhiTranslate="entity.action.title"></span>
                      </span>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li class="nav-item px-3">
                      <a [routerLink]="['/gyms', idgym, 'badges', badge.id, 'view']" class="nav-link active">
                        <span jhiTranslate="entity.action.view"></span>
                        <div class="ml-auto badge badge-first">New</div>
                      </a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li class="nav-item" *ngIf="badge.extBadgesDesignationStatus != 'ASSIGNED' && featureDesgination">
                      <a (click)="open(content, badge, 0)" class="nav-link text-success mx-3">
                        <div class="nav-link-icon">
                          <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                        </div>
                        <span jhiTranslate="gimnasio-uiApp.badge.addDesignation">Add designation</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a (click)="open(content, badge, 1)" class="nav-link text-success mx-3">
                        <div class="nav-link-icon">
                          <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                        </div>
                        <span jhiTranslate="gimnasio-uiApp.badge.addPack">Add pack</span>
                      </a>
                    </li>

                    <li class="nav-item">
                      <a (click)="open(content, badge, 2)" class="nav-link text-success mx-3">
                        <div class="nav-link-icon">
                          <fa-icon [icon]="['fas', 'plus']"></fa-icon>
                        </div>
                        <span jhiTranslate="gimnasio-uiApp.badge.addProgress">Add progress</span>
                      </a>
                    </li>

                    <li *ngIf="badge.status === 'ACTIVATED'" class="nav-item">
                      <a (click)="deactivateBadge(badge)" class="nav-link text-danger mx-3">
                        <div class="nav-link-icon">
                          <fa-icon [icon]="['fas', 'times']"></fa-icon>
                        </div>
                        <span jhiTranslate="entity.action.deactivate"></span>
                      </a>
                    </li>
                    <li *ngIf="badge.status === 'NOTACTIVATED'" class="nav-item">
                      <a (click)="activationBadge(badge)" class="nav-link text-success mx-3">
                        <div class="nav-link-icon">
                          <fa-icon [icon]="['fas', 'check']"></fa-icon>
                        </div>
                        <span jhiTranslate="entity.action.activate"></span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="divider"></div>
    <div *ngIf="badges && badges.length > 0">
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center mb-3">
        <ngb-pagination
          [collectionSize]="totalItems"
          [page]="page"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="navigateToPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-offcanvas>
  <div class="offcanvas-header p-4">
    <button
      (click)="offcanvas.dismiss('Cross click')"
      class="close-drawer-btn btn-sm"
      placement="left"
      ngbTooltip="Close drawer"
      type="button"
    >
      <div class="navbar-toggler hamburger hamburger--elastic is-active">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </div>
    </button>
    <div class="divider"></div>
    <div class="divider mb-4"></div>
  </div>
  <div class="offcanvas-body p-4">
    <!-- Body for the offcanvas(sidebar) start Here  -->

    <div class="mb-5">
      <ngb-alert #myAlert *ngIf="successActivation" type="success">{{ successActivation }} </ngb-alert>

      <ngb-alert #myAlert *ngIf="failedActivation" type="danger">{{ failedActivation }} </ngb-alert>
    </div>

    <div *ngIf="this.activeMenu == 0">
      <div class="card card-box mb-5">
        <div class="card-header">
          <h3 class="display-4 mb-2 font-weight-bold">Activate Badge Account</h3>
        </div>
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <form [formGroup]="form" (ngSubmit)="submitAccountForm()" *ngIf="form">
              <div class="form-group mb-3">
                <label for="mail">Email <span class="text-danger">*</span></label>
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <fa-icon [icon]="['fas', 'envelope']"></fa-icon>
                    </span>
                  </div>
                  <input type="email" placeholder="Email" class="form-control" id="mail" formControlName="mail" />
                </div>

                <div *ngIf="form.get('mail')?.invalid && (form.get('mail')?.dirty || form.get('mail')?.touched)" class="error text-danger">
                  <div *ngIf="form.get('mail')?.errors?.required">Email is required.</div>
                  <div *ngIf="form.get('mail')?.errors?.email">Invalid email format.</div>
                </div>
              </div>

              <div class="form-group mb-3">
                <label for="tel">Telephone <span class="text-danger">*</span></label>
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <fa-icon [icon]="['fas', 'phone']"></fa-icon>
                    </span>
                  </div>
                  <input type="tel" id="tel" placeholder="Phone number" class="form-control" formControlName="tel" name="tel" />
                </div>

                <div *ngIf="form.get('tel')?.invalid && (form.get('tel')?.dirty || form.get('tel')?.touched)" class="error text-danger">
                  <div *ngIf="form.get('tel')?.errors?.required">Telephone is required.</div>
                </div>
              </div>

              <div class="form-group mb-3">
                <label for="firstName">First Name <span class="text-danger">(Optional)</span></label>
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <fa-icon [icon]="['fas', 'user']"></fa-icon>
                    </span>
                  </div>
                  <input type="text" placeholder="First name" class="form-control" id="firstName" formControlName="firstName" />
                </div>
              </div>

              <div class="form-group mb-3">
                <label for="lastName">Last Name <span class="text-danger">(Optional)</span></label>
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <fa-icon [icon]="['fas', 'user']"></fa-icon>
                    </span>
                  </div>
                  <input type="text" placeholder="Last name" class="form-control" id="lastName" formControlName="lastName" />
                </div>
              </div>

              <button type="submit" class="btn btn-primary mt-4">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div>
      <ngb-alert #myAlert *ngIf="successMessage" type="success">{{ successMessage }} </ngb-alert>
      <ngb-alert #myAlert *ngIf="failedMessage" type="danger">{{ failedMessage }} </ngb-alert>
    </div>

    <div *ngIf="badgeToUpdate && this.activeMenu == 1">
      <div class="card card-box mb-5">
        <div class="card-header">
          <h4 class="font-size-lg mb-0 py-2 font-weight-bold">Add Packs</h4>
        </div>
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex">
              <div>
                <b>Badge</b>
                <div class="text-black-50" *ngIf="badgeToUpdate.uid">{{ badgeToUpdate.uid }}</div>
              </div>
            </div>
          </div>
          <div class="divider my-3"></div>
          <div class="d-flex align-items-center justify-content-between">
            <div>
              <div>
                <b>Activate a Pack</b>
                <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                  <div class="mb-3">
                    <select
                      class="form-control"
                      id="field_packId"
                      data-cy="packId"
                      name="packId"
                      formControlName="packId"
                      [compareWith]="comparePack"
                    >
                      <option [ngValue]="null"></option>
                      <option [ngValue]="packOption" *ngFor="let packOption of packsSharedCollection">{{ packOption.name }}</option>
                    </select>
                  </div>

                  <div class="align-box-row mt-3">
                    <div class="ml-1">
                      <div class="d-flex align-items-center justify-content-between">
                        <button
                          type="button"
                          id="cancel-save"
                          data-cy="entityCreateCancelButton"
                          class="btn btn-secondary"
                          (click)="offcanvas.dismiss('Cross click')"
                        >
                          <span jhiTranslate="entity.action.cancel">Cancel</span>
                        </button>

                        <button
                          type="submit"
                          id="save-entity"
                          data-cy="entityCreateSaveButton"
                          [disabled]="editForm.invalid || isSaving"
                          class="btn btn-primary"
                        >
                          <span jhiTranslate="entity.action.save">Save</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="badgeToUpdate && this.activeMenu == 2">
      <div class="card card-box mb-5">
        <div class="card-header">
          <h4 class="font-size-lg mb-0 py-2 font-weight-bold">Add Progress</h4>
        </div>
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <div class="d-flex">
              <div>
                <b>Badge</b>
                <div class="text-black-50" *ngIf="badgeToUpdate.uid">{{ badgeToUpdate.uid }}</div>
              </div>
            </div>
          </div>
          <div class="divider my-3"></div>
          <div class="d-flex align-items-center justify-content-between">
            <div>
              <div>
                <b>Set criteria</b>
                <form name="formProgress" role="form" novalidate (ngSubmit)="saveProgress()" [formGroup]="formProgress">
                  <div class="form-group mb-3" *ngFor="let criteriaOption of criteriasSharedCollection">
                    <label for="{{ criteriaOption.name }}">{{ criteriaOption.name }} <span class="text-danger">*</span></label>
                    <div class="input-group input-group-alternative">
                      <input
                        type="text"
                        placeholder="{{ criteriaOption.name }}"
                        class="form-control"
                        id="{{ criteriaOption.name }}"
                        [formControlName]="criteriaOption.id"
                      />
                    </div>
                    <!-- <div *ngIf="form.get('tel')?.invalid && (form.get('tel')?.dirty || form.get('tel')?.touched)" class="error text-danger">
                      <div *ngIf="form.get('tel')?.errors?.required">Telephone is required.</div>
                    </div> -->
                  </div>

                  <div class="align-box-row mt-3">
                    <div class="ml-1">
                      <div class="d-flex align-items-center justify-content-between">
                        <button
                          type="button"
                          id="cancel-save"
                          data-cy="entityCreateCancelButton"
                          class="btn btn-secondary"
                          (click)="offcanvas.dismiss('Cross click')"
                        >
                          <span jhiTranslate="entity.action.cancel">Cancel</span>
                        </button>

                        <button
                          type="submit"
                          id="save-entity"
                          data-cy="entityCreateSaveButton"
                          [disabled]="editForm.invalid || isSaving"
                          class="btn btn-primary"
                        >
                          <span jhiTranslate="entity.action.save">Save</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<notifier-container></notifier-container>
